* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
}

.container {
  width: 387px;
  background: #1A1A1A;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatar .circle {
  background-color: #6EC1FF;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form label {
  font-weight: bold;
  background: #121212;
  padding: 5px 10px;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
}

.form input {
  background-color: #2B2B2B;
  color: #ffffff;
  border: none;
  padding: 9px 12px;
  border-radius: 6px;
  font-size: 16px;
}

button {
  background: #6EC1FF;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  text-align: center;
}

button:hover {
  background: #4FA7E3;
}

@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  .avatar .circle {
    width: 70px;
    height: 70px;
  }

  .avatar img {
    width: 45%;
    height: 45%;
  }

  button {
    font-size: 15px;
  }
}
